entrypoint = "app.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "app.py"]
deploymentTarget = "gce"
ignorePorts = true

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8083
externalPort = 3000

[[ports]]
localPort = 10000
externalPort = 3001

[agent]
expertMode = true
